.services__cards {
  padding: 3rem 0;
  background-color: black;
  color: white;
  text-align: center;
}
.services__cards > .container {
  margin: 0 auto;
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.service__card {
  height: 350px;
  background-image: url(.././img/product-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.action-card {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-container {
  padding: 1rem;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease-out;
  background-color: rgba(0, 0, 0, 0.2);
}

.info-container:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.card__title {
  font-size: 1.5rem;
  overflow: hidden;
}

.info-container:hover .service__btn {
  opacity: 1;
  transform: translateY(20px);
}

.service__btn {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  width: 50%;
  background-color: #c95316;
  color: white;
  border: none;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.4s ease-out;
  transition: transform 0.4s ease-out;
  cursor: pointer;
}

.card__btnActionCard {
  width: 50%;
  padding: 10px;
  background-color: #c95316;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border: none;
}

.action-card {
  overflow: hidden;
}

/* MEDIA QUERYS */

@media screen and (min-width: 0) {
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 992px) {
  .services__cards > .container {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .service__card,
  .action-card {
    width: 40%;
  }

  .service__btn {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
}
