.services__cards {
  padding: 3rem 0;
  background-color: black;
  color: white;
  text-align: center;
}
.services__cards > .container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a.card {
  padding: 1rem;
  color: white;
  text-decoration: none;
  text-align: left;
  background-color: #111111;
  border: none;
  cursor: pointer;
  border-left: 2px solid transparent;
}

.card > p {
  color: gray;
}

.card__btnCard {
  font-size: 1.3rem;
  width: 40px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.card:hover {
  border-left: 2px solid;
  transition: all 0.3s;
}

.card:hover > .card__btnCard {
  transition: all 0.3s;
}

.card__btnActionCard {
  width: 50%;
  background-color: #c95316;
  color: white;
  border: none;
  padding: 5px;
  font-weight: bold;
}

/* MEDIA QUERYS */

@media screen and (min-width: 0) {
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 992px) {
  .services__cards > .container {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  a.card,
  .action-card {
    width: 30%;
  }

  .action-card {
    margin-top: 2rem;
  }

  .card__btnActionCard {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
}
