.operating {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header {
  background-image: url(.././img/intro.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.topbar {
  width: 100%;
  padding: 35px 20px 10px 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.topbar__logo {
  width: 150px;
  height: auto;
}

.nav__menu {
  list-style: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav__menu > a {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  border-bottom: 2px solid transparent;
  transition: all ease 0.4s;
}

.nav__menu > a:hover {
  border-color: orangered;
  color: orangered;
}

.action__call {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}

.header-btnContact {
  margin-top: 3rem;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: rgb(201, 83, 22);
  border: none;
  border-radius: 1rem;
}

/* MEDIA QUERYS */

@media screen and (min-width: 0) {
}

@media screen and (max-width: 1038px) {
  .operating__p {
    font-size: 0.9rem;
  }

  .nav__menu {
    display: none;
  }

  .menu__btnOpen {
    display: block;
    color: white;
    background-color: transparent;
    border: none;
    border: 1px solid white;
    padding: 0.2rem;
    border-radius: 1rem;
  }

  .header__text {
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (min-width: 1038px) {
  .nav__menu {
    font-size: 1.3rem;
  }

  .menu__btnOpen,
  #menuClose {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 100vh;
  }

  .topbar {
    gap: 200px;
  }

  .topbar__logo {
    width: 300px;
    height: auto;
  }

  .header-btnContact {
    font-size: 1.7rem;
  }

  .header__text {
    font-size: 2rem;
  }
}

/* ESTILOS PARA MENU MOBILE */

.nav--mobile {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.nav__menu--mobile {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.mostrar {
  display: block;
}

.no-mostrar {
  display: none;
}

#menuClose {
  font-size: 1.3rem;
  cursor: pointer;
}
