.ventana__info {
  padding: 1rem;
  text-align: center;
  background-color: transparent;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border-radius: 1rem;
  backdrop-filter: blur(50px);
  text-shadow: 2px 2px 5px black;
}

#ventana__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ocultar__ventana {
  display: none;
}

.mostrar__ventana {
  display: block;
}

#ventana__description {
  font-size: 1.2rem;
  text-align: justify;
}

#ventana__btnCerrar {
  position: absolute;
  top: 20px;
  font-size: 1.8rem;
  cursor: pointer;
}

.ventana__logo {
  margin-top: 10%;
  width: 200px;
}

#ventana__title {
  font-size: 1.5rem;
  overflow: hidden;
}

.modal__btn {
  margin: 1rem 0;
  display: block;
  font-size: 1rem;
  width: 50%;
  background-color: #c95316;
  color: white;
  border: none;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
}

/* MEDIA QUERYS */

@media screen and (min-width: 0) {
}

@media screen and (max-width: 768px) {
  .ventana__info {
    width: 80%;
    height: 600px;
  }

  #ventana__btnCerrar {
    top: 20px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .ventana__info {
    width: 500px;
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
}
